body {
    background-color: gray;
}

.container {
    background-color: white;
    max-width: 400px;
    width: 100%;
    color: blue;
}

#contact {
    padding: 30px;
}

form,
h3 {
    margin: 0 0 0 20px;
}

input {
    width: 80%;
    border: 2px solid blue;
    margin: 2%;
    padding: 10px;
}

textarea {
    width: 80%;
    border: 2px solid blue;
    margin-left: 2%;
    padding: 10px;
    resize: none;
}

fieldset {
    border-style: hidden;
}

::placeholder {
    color: blue;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-top: -5px;
    border-style: hidden;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}